.header-background{
   height: auto;
   max-width: 100vw;
   background: linear-gradient(to right,
   rgba(132, 35, 102, .4) , 
   rgba(96, 42, 122, .6)) ,
   url('https://i.ibb.co/9nPFv56/slider-img2.jpg');
   
}