.carousel-background{
    background: linear-gradient(to bottom,
   rgba(132, 35, 102, .4) , 
   rgba(96, 42, 122, .6)) ,
   url('https://i.ibb.co/n3p9WT1/testimonials-bg-Img.jpg');
   height: 600px;
   font-family: 'Domine', serif;
}
.carousel-background .img{
    height: 150px;
    width: 150px;
    margin: 0 auto;
}
.carousel-background .img img{
    max-width: 100%;
    display: inline-block;
    border-radius: 50%;
}